* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 0;
    background-color: #fff;
    align-items: center;
  }
  .header video
  {
    position: center;
    width: 100%;
  }
  .header h1
  {
      text-align: center;
      font-size: 3rem;
      font-family: 'Oswald';
      color: rgb(17, 16, 16);
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: rgb(172, 226, 110);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: rgb(17, 15, 15);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Oswald';
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #fff;
    color: rgb(17, 16, 16);
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #fff;
    color: rgb(17, 16, 16);
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #fff;
    padding: 20px;
  }
  .side h2
  {
    font-family: 'Oswald';
  }
  .side p
  {
      font-family: 'Special Elite';
      font-size: 15px;
      letter-spacing: 2px;
      line-height: 150%;
  }
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  .main h2
  {
      font-family: 'Oswald';
  }
  .center
  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
  }

  /* Fake image, just for this example */
  .fakeimg {
    background: url(Group\ 1.png);
    position: center;
    width: 100%;
    padding: 10px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }